body {
    background-color: black;
    color: greenyellow;
}

nav {
    margin-bottom: 20px;
}



td.header {
    border-bottom: 1px solid lightgreen;
}

.btn_green {
    color: black;
    background-color: greenyellow;
    cursor: pointer;
    border: none;
    padding: 3px;
}

.disabled {
    opacity: 0.5;
}

.btn_green i {
    margin-right: 5px;
}

.btn_green:hover {
    background-color: aquamarine;
}

.nav-wrapper {
    padding: 0 20px;
}